{% include 'header.html' %}
<center style="margin-left:auto; margin-left:right">
    <h1 style="color:blue; text-align:center; margin-left:200px">K-means</h1>
</center>
<hr style="color: black; background-color: black; width:150%;" /> 
<br>
<div class="container" style="align:center; margin-left:150px">
    <div class="row">
      <div class="col order-last">
      </div>
      <div class="col">
        <div class="card text-center" style="text-align: right;">
            <div class="card-header">
             Novena iteración del algoritmo
            </div>
            <div class="card-body" style="align:center">
              <img src="../../static/images/iteración 9.png" alt="" width="550px"  style="text-align:center;" >
              <br>
            <p>Valor de Y=</p>
            <p>Valor de X=</p>
            </div>
            <div class="card-footer text-muted">
            </div>
          </div>
      </div>
      <div class="col order-first">
        <div class="col">
            <div class="card text-center" style="text-align: right">
                <div class="card-header">
                 Primera iteración del algoritmo
                </div>
                <div class="card-body" style="align:center">
                  <img src="../../static/images/iteración 1.png" alt="" width="550px"  style="text-align:center;" >
                  <br>
                <p>Valor de Y=</p>
                <p>Valor de X=</p>
                </div>
                <div class="card-footer text-muted">
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>  
{% include 'footer.html' %}